/*---------------------------------------------------------------------------------------------------*/
html,body,div,h1,h2,h3,h4,h5,h6,p{ font-family:'Montserrat'; }

.demo-avatar{ width:48px; height:48px; border-radius:24px; }

/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container{ z-index:-1; }
.demo-drawer .mdl-navigation{ z-index:-2; }
/* END iOS Safari specific workaround */

.demo-drawer .mdl-menu .mdl-menu__item{ display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex; -webkit-box-align:center; -webkit-align-items:center; -ms-flex-align:center; align-items:center; }
.demo-drawer-header{ padding:16px; height:144px; box-sizing:border-box; display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex; -webkit-box-orient:vertical; -webkit-box-direction:normal; -webkit-flex-direction:column; -ms-flex-direction:column; flex-direction:column; -webkit-box-pack:end; -webkit-justify-content:flex-end; -ms-flex-pack:end; justify-content:flex-end; }
.demo-avatar-dropdown{ width:100%; display:flex; position:relative; align-items:center; display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; -webkit-box-orient:horizontal; -webkit-box-direction:normal; -webkit-flex-direction:row; -ms-flex-direction:row; flex-direction:row; -webkit-box-align:center; -webkit-align-items:center; -ms-flex-align:center; }

.mdl-navigation{ -webkit-box-flex:1; -webkit-flex-grow:1; -ms-flex-positive:1; flex-grow:1; }
.mdl-navigation__link .material-icons{ margin-right:32px; } /*menu icons!*/
.mdl-navigation__link{ color:#fff!important; font-weight:300; display:-webkit-box!important; display:-webkit-flex!important; display:-ms-flexbox!important; display:flex!important; -webkit-box-orient:horizontal; -webkit-box-direction:normal; -webkit-flex-direction:row; -ms-flex-direction:row; flex-direction:row; -webkit-box-align:center; -webkit-align-items:center; -ms-flex-align:center; align-items:center; }
.mdl-navigation__link:hover{ background:#222!important; } /*menu hover!!*/

/*A dirty hack so that placeholder text shows in expandable labels...!*/
.mdl-textfield__expandable-holder .mdl-textfield__label{ top:0px; color:#ffffff; }


/*---------------------------------------------------------------------------------------------------*/
.mdl-layout__drawer { border:none; }

.min_width{ min-width:88px; }

/*Change table row height, font size, and other stuff!*/
table,th,tr,td{ font-size:10px!important; height:0px!important; padding:1px 8px 1px 8px!important; font-family:Monospace; }
thead{ text-transform:capitalize; font-weight:bold; }
td { padding:0 4px 0 4px; }
.table_title{ font-weight:bold; }

.header_row{ margin:24px 0 24px 32px; }
#clock0{ display:inline; margin-left:24px; font-size:14px; }
@media screen and (max-width:414px){ #clock0{ display:none; } }

.text_search{ font-family:Monospace!important; font-size:9px; }

/*.card_tiny{ width:128px; min-height:30px; display:flex; text-align:center; line-height:2; padding:0; }*/
.text_align_right{ text-align:right; }

a { color:inherit; text-decoration:none; }


/*---------------------------------------------------------------------------------------------------*/
.mdl-card.card_major{ width:300px; margin:8px 0 8px 0; min-height:32px; }
.mdl-card__title{ padding:16px 4px 4px 16px; }
.mdl-card__title-text{ font:12px 'Montserrat';}
.mdl-card__supporting-text{ font:bold 18px 'Montserrat'; font-weight:bold; padding:4px 4px 16px 16px; }


/*---------------------------------------------------------------------------------------------------*/
.block{ display:block; }
.inline{ display:inline; }
.none{ display:none; }
.hide{ display:none; }

.border_none{ border:none; }
.borderless{ border:none; }

.outer_content{ width:1280px; max-width:96%; }
.text_center{ text-align:center; }
.hcenter{ margin:0 auto; }
.horizontal_scroll{ overflow:auto; }

.flex{ display:flex; flex-flow:row wrap; justify-content:center; display:-webkit-box; display:-moz-box; display:-webkit-flex; }
.vcenter_parent{ display:flex; }
.vcenter_child{ align-self:center; }
.flex_justify_center{ display:flex; justify-content:center; }

.montserrat{ font-family:'Montserrat'; }
.monospace{ font-family:monospace; }
.capitalize{ text-transform:capitalize; }

.margin_top{ margin-top:64px; }
.margin_bottom{ margin-bottom:64px; }
.margin_left{ margin-left:8px }
.margin_right{ margin-right:8px }

.margin_top0{ margin-top:1px; }
.margin_top1{ margin-top:2px; }
.margin_top2{ margin-top:4px; }
.margin_top3{ margin-top:8px; }
.margin_top4{ margin-top:16px; }
.margin_top5{ margin-top:32px; }

.margin_left4{ margin-left:16px }
.margin_left5{ margin-left:32px }

.width_128px{ width:128px; }
.width_200px{ width:200px; }
.width_256px{ width:256px; }
.width_360px{ width:360px; }
.width_512px{ width:512px; }

.width_100{ width:100%; }

.bold{ font-weight:bold; }
